<style>
 ul{ list-style-type:none; width:100%; }
 .productName{
    color: #222222;
    font-size: 32px;
    line-height: 36px;
    font-family: "Didact Gothic","Gill Sans",Arial,Helvetica,sans-serif;
}
  .ProductPrice {
      font-family: "Avenir Next LT Pro Bold","Gill Sans",Arial,Helvetica,sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 24px;
    color: #85CC95;
    vertical-align: middle;
}
  .addToCar{
      height: 50px;
      width: 200px;
      padding: 8px;
      background-color: #85CC95;
      font-family: "Avenir Next LT Pro Bold","Gill Sans",Arial,Helvetica,sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 1px;
      color: white;
  }
  .chooseType{
      margin: 10px auto;
  }
   .chooseText{
      font-size: 20px;
  }
   .chooseInput{
      height: 35px;
    border: 1px solid #00000075;
    text-indent: 13px;
    width: 209px;
  }
  .rte{
    font-family: "Avenir Next LT Pro","Gill Sans",Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
    width: 80%;
    height: auto;
    overflow: hidden;
  }

  .detail{
        color: #000;
    font-family: "MrsEavesOT-Roman",TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
    font-size: 16px;
    line-height: 21px;
    position: relative;
    padding-bottom: 12px;
    border-bottom: solid 1px #979797;
    cursor: pointer;
    margin: 27px 0px;
  }
</style>
<script>
//   商品大图切换图片
  function seeBigPic(src){
      $(".bigPic").attr("src",src)
  }
//   商品详情展开和收缩
  function seeMore(idName){
      $("#"+idName).slideToggle(500)
  }
</script>
<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">
  <div style="height:26px;width:100%"></div>
  <div class=" grid__item">
     <div class="grid__item medium-up--one-half">
        <div class="grid__item  medium-up--one-quarter">
          {% if product.images.size > 1 %}
            <ul style="margin:0px 0px">
              {% for image in product.images %}
                <li>
                  {% comment %}<a href="{{ image.src | img_url: '480x480' }}" data-product-single-thumbnail>{% endcomment %}
                    <img onclick=seeBigPic("{{image.src | img_url: '480x480'}}") src="{{ image.src | img_url: '200x160' }}" width="160" alt="{{ image.alt | escape }}">
                  {% comment %}</a>{% endcomment %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          
        </div>
        <div class="grid__item medium-up--one-half">
         {% if featured_image != blank %}
            <img  class="bigPic width="590" src="{{ featured_image | img_url: '480x480' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
        {% endif %}
        </div>
    </div>
      <div class="grid__item medium-up--one-half">
       
        
        <h1 class="productName">{{ product.title }}</h1>
  <p>{{ product.vendor }}</p>

  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
    <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

    <form action="/cart/add" method="post" enctype="multipart/form-data">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          <div class="chooseType" class="selector-wrapper js">
            <label class="chooseText" for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>

            <select class="chooseInput"
              id="SingleOptionSelector-{{ forloop.index0 }}"
              data-single-option-selector
              data-index="option{{ option.position }}">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endunless %}

      <select name="id" class="no-js" data-product-select>
        {% for variant in product.variants %}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>

      <label class="chooseType chooseText" for="Quantity">{{ 'products.product.quantity' | t }}</label>
      <input class="chooseInput" type="number" id="Quantity" name="quantity" value="1" min="1">

      <div style="margin: 26px auto;" data-price-wrapper>
        <span class="ProductPrice" data-product-price>
          {{ current_variant.price | money }}
        </span>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </div>

      <button class="addToCar"
        type="submit"
        name="add"
        data-add-to-cart
        {% unless current_variant.available %}disabled="disabled"{% endunless %}>
          <span data-add-to-cart-text>
            {% if current_variant.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>
      </button>
    </form>

  </div>
  <div class="detail" onclick="seeMore('detail')"  isOpen="true">Description</div>
  <div class="rte" id="detail" style="height:auto">
    {{ product.description }}
  </div>

  {% if section.settings.show_share_buttons %}
    {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
  {% endif %}

  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>

        
        
        
      </div>
  </div>

<div style="clear: both;"></div>


  
{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
